USE [YAVA_MART]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NULL,
	[CodigoCliente] [nvarchar](10) NULL,
	[Nombre] [nvarchar](100) NULL,
	[Tipo] [nvarchar](20) NULL,
	[Segmento] [nvarchar](20) NULL,
	[TipoDocumento] [nvarchar](10) NULL,
	[NumeroDocumento] [nvarchar](50) NULL,
	[NumeroTelefono] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conductor]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductor](
	[IdConductor] [int] NULL,
	[CodigoConductor] [nvarchar](10) NULL,
	[Nombre] [nvarchar](100) NULL,
	[FechaIngreso] [date] NULL,
	[NumeroLicencia] [nvarchar](20) NULL,
	[TipoDocumento] [nvarchar](10) NULL,
	[NumeroDocumento] [nvarchar](50) NULL,
	[Direccion] [nvarchar](100) NULL,
	[NumeroTelefono] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courier]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courier](
	[CodigoServicioCourier] [nvarchar](255) NULL,
	[CodigoCliente] [nvarchar](255) NULL,
	[CodigoConductor] [nvarchar](255) NULL,
	[CodigoVehiculo] [nvarchar](255) NULL,
	[UbicacionRecojo] [float] NULL,
	[UbicacionEntrega] [float] NULL,
	[FechaRecojo] [datetime] NULL,
	[HoraRecojo] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[HoraEntrega] [datetime] NULL,
	[CalificacionServicio] [float] NULL,
	[TipoPago] [nvarchar](255) NULL,
	[CostoServicio] [float] NULL,
	[ComisionConductor] [float] NULL,
	[Descuento] [float] NULL,
	[PagoFinal] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fechas]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fechas](
	[Sk_Fecha] [int] NULL,
	[Fecha] [date] NULL,
	[Anio] [smallint] NULL,
	[Semestre] [nvarchar](30) NULL,
	[Trimestre] [nvarchar](30) NULL,
	[Mes] [nvarchar](30) NULL,
	[DiaSemana] [nvarchar](30) NULL,
	[NumSemestreAnio] [smallint] NULL,
	[NumTrimestreAnio] [smallint] NULL,
	[NumMesAnio] [smallint] NULL,
	[NumDiaSemana] [smallint] NULL,
	[NumDiaMes] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[IdUbicacion] [int] NULL,
	[Direccion] [nvarchar](100) NULL,
	[CodigoPostal] [nvarchar](20) NULL,
	[Distrito] [nvarchar](20) NULL,
	[Provincia] [nvarchar](20) NULL,
	[Departamento] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 28/06/2022 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] NULL,
	[CodigoVehiculo] [nvarchar](10) NULL,
	[Tipo] [nvarchar](20) NULL,
	[Marca] [nvarchar](20) NULL,
	[Modelo] [nvarchar](20) NULL,
	[Placa] [nvarchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [Tipo], [Segmento], [TipoDocumento], [NumeroDocumento], [NumeroTelefono]) VALUES (1, N'CL0X01', N'Teo Bermejo', N'Persona', N'Regular', N'DNI', N'41485316', N'917018594')
INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [Tipo], [Segmento], [TipoDocumento], [NumeroDocumento], [NumeroTelefono]) VALUES (2, N'CL0X02', N'Patricio Vaca', N'Persona', N'Regular', N'DNI', N'27634601', N'954711613')
INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [Tipo], [Segmento], [TipoDocumento], [NumeroDocumento], [NumeroTelefono]) VALUES (3, N'CL0X03', N'Anabel Calvo', N'Persona', N'Regular', N'DNI', N'54011149', N'934825397')
GO
INSERT [dbo].[Conductor] ([IdConductor], [CodigoConductor], [Nombre], [FechaIngreso], [NumeroLicencia], [TipoDocumento], [NumeroDocumento], [Direccion], [NumeroTelefono]) VALUES (1, N'CON001', N'Basilio Zamorano', CAST(N'2020-09-13' AS Date), N'2311232', N'DNI', N'149809', N'Av. Allison Contreras 4099 Hab. 705', N'984987234')
INSERT [dbo].[Conductor] ([IdConductor], [CodigoConductor], [Nombre], [FechaIngreso], [NumeroLicencia], [TipoDocumento], [NumeroDocumento], [Direccion], [NumeroTelefono]) VALUES (2, N'CON002', N'Melchor Santana', CAST(N'2021-06-28' AS Date), N'2311232', N'CE', N'329803', N'Jr. Nadia Peres 6592', N'990986232')
INSERT [dbo].[Conductor] ([IdConductor], [CodigoConductor], [Nombre], [FechaIngreso], [NumeroLicencia], [TipoDocumento], [NumeroDocumento], [Direccion], [NumeroTelefono]) VALUES (3, N'CON003', N'Saul Zabala', CAST(N'2020-07-07' AS Date), N'2311232', N'CE', N'129804', N'Jr. Julieta Alfaro 6856 Dpto. 247', N'923948065')
GO
INSERT [dbo].[Courier] ([CodigoServicioCourier], [CodigoCliente], [CodigoConductor], [CodigoVehiculo], [UbicacionRecojo], [UbicacionEntrega], [FechaRecojo], [HoraRecojo], [FechaEntrega], [HoraEntrega], [CalificacionServicio], [TipoPago], [CostoServicio], [ComisionConductor], [Descuento], [PagoFinal]) VALUES (N'SC001', N'CL0X12', N'CON001', N'VH0001', 1, 19, CAST(N'2022-06-09T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:32:00.000' AS DateTime), CAST(N'2022-06-13T00:00:00.000' AS DateTime), CAST(N'1899-12-30T16:14:00.000' AS DateTime), 4, N'PM04', 16.71, 9.66, 3.9555, 22.4145)
INSERT [dbo].[Courier] ([CodigoServicioCourier], [CodigoCliente], [CodigoConductor], [CodigoVehiculo], [UbicacionRecojo], [UbicacionEntrega], [FechaRecojo], [HoraRecojo], [FechaEntrega], [HoraEntrega], [CalificacionServicio], [TipoPago], [CostoServicio], [ComisionConductor], [Descuento], [PagoFinal]) VALUES (N'SC002', N'CL0X01', N'CON001', N'VH0003', 2, 20, CAST(N'2022-03-29T00:00:00.000' AS DateTime), CAST(N'1899-12-30T13:28:00.000' AS DateTime), CAST(N'2022-03-30T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:01:00.000' AS DateTime), 2, N'PM04', 23.86, 8.65, 1.9506, 30.559399999999997)
INSERT [dbo].[Courier] ([CodigoServicioCourier], [CodigoCliente], [CodigoConductor], [CodigoVehiculo], [UbicacionRecojo], [UbicacionEntrega], [FechaRecojo], [HoraRecojo], [FechaEntrega], [HoraEntrega], [CalificacionServicio], [TipoPago], [CostoServicio], [ComisionConductor], [Descuento], [PagoFinal]) VALUES (N'SC003', N'CL0X12', N'CON001', N'VH0003', 3, 21, CAST(N'2022-05-22T00:00:00.000' AS DateTime), CAST(N'1899-12-30T17:44:00.000' AS DateTime), CAST(N'2022-05-23T00:00:00.000' AS DateTime), CAST(N'1899-12-30T18:05:00.000' AS DateTime), 3, N'PM04', 12.54, 8.39, 1.4651, 19.4649)
GO
INSERT [dbo].[Fechas] ([Sk_Fecha], [Fecha], [Anio], [Semestre], [Trimestre], [Mes], [DiaSemana], [NumSemestreAnio], [NumTrimestreAnio], [NumMesAnio], [NumDiaSemana], [NumDiaMes]) VALUES (20220101, CAST(N'2022-01-01' AS Date), 2022, N'Semestre 1', N'Trimestre 1', N'Enero', N'Sábado', 1, 1, 1, 6, 1)
INSERT [dbo].[Fechas] ([Sk_Fecha], [Fecha], [Anio], [Semestre], [Trimestre], [Mes], [DiaSemana], [NumSemestreAnio], [NumTrimestreAnio], [NumMesAnio], [NumDiaSemana], [NumDiaMes]) VALUES (20220102, CAST(N'2022-01-02' AS Date), 2022, N'Semestre 1', N'Trimestre 1', N'Enero', N'Domingo', 1, 1, 1, 7, 2)
INSERT [dbo].[Fechas] ([Sk_Fecha], [Fecha], [Anio], [Semestre], [Trimestre], [Mes], [DiaSemana], [NumSemestreAnio], [NumTrimestreAnio], [NumMesAnio], [NumDiaSemana], [NumDiaMes]) VALUES (20220103, CAST(N'2022-01-03' AS Date), 2022, N'Semestre 1', N'Trimestre 1', N'Enero', N'Lunes', 1, 1, 1, 1, 3)
GO
INSERT [dbo].[Ubicacion] ([IdUbicacion], [Direccion], [CodigoPostal], [Distrito], [Provincia], [Departamento]) VALUES (1, N'Jr. Luciano Gálvez 0 Dpto. 505', N'15001', N'Lima', N'Lima', N'Lima')
INSERT [dbo].[Ubicacion] ([IdUbicacion], [Direccion], [CodigoPostal], [Distrito], [Provincia], [Departamento]) VALUES (2, N'Jr. Jorge Alba 1 Piso 78', N'15038', N'Santiago de Surco', N'Lima', N'Lima')
INSERT [dbo].[Ubicacion] ([IdUbicacion], [Direccion], [CodigoPostal], [Distrito], [Provincia], [Departamento]) VALUES (3, N'Cl. Ana Borrego 145 Dpto. 554', N'15038', N'Santiago de Surco', N'Lima', N'Lima')
GO
INSERT [dbo].[Vehiculo] ([IdVehiculo], [CodigoVehiculo], [Tipo], [Marca], [Modelo], [Placa]) VALUES (1, N'VH0001', N'Van', N'Susuki', N'Apv', N'7422-EHA')
INSERT [dbo].[Vehiculo] ([IdVehiculo], [CodigoVehiculo], [Tipo], [Marca], [Modelo], [Placa]) VALUES (2, N'VH0002', N'Van', N'Hyundai', N'h1', N'3327-UZT')
INSERT [dbo].[Vehiculo] ([IdVehiculo], [CodigoVehiculo], [Tipo], [Marca], [Modelo], [Placa]) VALUES (3, N'VH0003', N'Van', N'Miutsubhi', N'Xpander', N'1882-ZFF')
GO
